item-producer/.idea
item-producer/*.iml

item-producer/out

./customer-producer/*.iml
./item-producer/*.iml
./order-producer/*.iml
./order-detail-producer/*.iml
./user-subscriber/*.iml

/out
.idea
*.iml